/* 
    list-style-position: inside;
*/
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
}

#container{
    width: 90vw;
    margin: 0 auto;
    margin-top: 20px;
}

img[src="imagens/capa.png"]{
    width: 100%;
    margin-top: 20px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav{
    display: flex;
    align-items: center;
}

nav > ul{
  display: flex;
  flex-direction: row;
  justify-content: end;
}

nav > ul> li{
    list-style-type: none;
    padding: 2px;
}

h2{
    margin: 15px 0px;
}

#list-study{
    list-style-position: inside;
}

hr{
    margin: 20px 0px;
}

footer{
    padding: 25px;
    text-align: center;
}

.formulario{
    margin-bottom: 5px;
}

.formulario > input{
    border: 2px solid #ccc;
    border-radius: 10px;

}

.formulario > input:focus{
    outline: 2px solid rgb(5, 205, 250);
}

textarea{
    border-radius: 20px;
}

textarea:focus{
    outline: 2px solid rgb(5, 205, 250);
}

input[type="submit"]{
    border-radius: 0px;
}